.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  color: whitesmoke;
}


.link {
  margin-right: 20px;
  text-decoration: none;
  color: white;
}

.signup-link {
  text-decoration: none;
  color: white;
}



.link:hover {
  color: #6587f6;
  text-decoration: underline;

}

.link.active {
  font-weight: bold;
  color: #6587f6;
  font-style: italic;
}